# Abaikan Virtual Environment
mlops-env/
venv/
.venv/

# Abaikan Folder Model MLflow (Sangat Berat!)
outputs/

# Abaikan file model manual jika ada

*.h5
*.onnx

# Abaikan cache python
__pycache__/
*.pyc

# Abaikan file binary installer K8s & Minikube
kubectl
minikube-linux-amd64
